.Header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Fi{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: rgb(255, 136, 227);
}

.Tayler{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: red;
}


.Menu{
    text-decoration: none;
    color: rgb(99, 29, 29);
    font-size: larger;
    display: flex;
    width: 30%;
    justify-content: space-between;
}