.Portfolio{
    display: flex;
    justify-content: center;
    width: 80%;
}

.Spis{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    color: brown;
}